APP_ENV=development
POSTGRES_VERSION={{postgres_version}}
DATABASE_URL=postgresql+asyncpg://{{project_name}}:changeme-development@localhost:{{postgres_port}}/{{project_name_underscore}}
JWT_SECRET_KEY=changeme-32-bytes-very-very-secret
CORS_ORIGINS=["http://localhost:{{frontend_port}}"]
